
  
p{
	text-align: center;
}
.boton_1
{
    text-decoration: none;
    padding: 10px 18px;
    font-size: 14px;
     color: rgba(0, 0, 0, 0.6);
    background-color: #EFEBEB;
    border-radius: 6px;
 }  
.boton_2 
   {text-decoration: none;
    padding: 10px 18px;
    color: rgba(0, 0, 0, 0.6);
    font-size: 14px;
    background-color: #EFEBEB;
    border-radius: 6px;

}


body{
	font-family: 'Roboto', sans-serif;

}

#final a:link {
  text-decoration: none;
}

#final a:visited {
  color: none;
}

#final a:hover {
  text-decoration: underline;
}

#imagewrap img
 {
  display: block;
  margin: 0 auto;
  padding:90px 0 0 0px;
  margin-top: 70px;
 }



.box{
  margin: 10px auto;
  width: 500px;
  height: 5px;
}

.container-1{
  width: 300px;
  vertical-align: middle;
  white-space: nowrap;
  position: relative;
}
.container-1 input#search{
  width: 500px;
  height: 45px;
  background: #ffffff;
  border: none;
  font-size: 12pt;
  float: left;
  color: black;
  padding-left: 45px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 20px;
  box-shadow: 0px 0px 3px 0px #7D9165 ;
}

.container-1 .icon{
  position: absolute;
  top: 50%;
  margin-left: 17px;
  margin-top: 15px;
  z-index: 1;
  color: rgba(0, 0, 0, 0.6);
}

.container-1 .icon2{
  position: absolute;
  top: 50%;
  right: -183px;
  margin-top: 15px;
  z-index: 2;
  color: rgba(0, 0, 0, 0.6);
}

.final{
	font-size: 12px

}


ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.leftSide{
float: left;
}

.rightSide{
float: right;
padding-right: 5px;
}


#topnav{
height: 20px;
padding-top: 5px;
}

li a{

    display: inline-block;
    padding-left: 15px;
    color: #000;
    opacity: 0.75;
    text-decoration: none;
    font-family: arial,sans-serif;
    font-size: 13px;
  }

 .Squaggle{
background-image: url(https://ssl.gstatic.com/gb/images/i1_1967ca6a.png);
background-position: -119px -42px;
height: 30px;
width: 30px;
}